.container {
  margin: 0.5rem auto;
  width: 90%;
  max-width: 600px;
  min-width: 200px;
  display: flex;
}

.searchField {
  font-size: 1.2rem;
  font-weight: 400;
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: none;
  border-radius: 50px 0 0 50px;
  padding: 0.4rem 1.2rem;
  transition: 0.3s ease-in-out;
  box-sizing: border-box;
}

.submitButton {
  font-size: 1.2rem;
  font-weight: 400;
  padding: 0.4rem 1.2rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: none;
  border-radius: 0 50px 50px 0;
  box-sizing: border-box;
  background-color: #00ade1;
  color: white;
  transition: 0.5s ease-in-out;
}

.submitButton:hover {
  background-color: #0094c1;
}

.submitButton:active {
  background-color: #00ccff;
  color: black;
}

.settings {
  border: none;
  border-radius: 50%;
  padding: 0.1rem 0.4rem 0;
  margin-left: 0.5rem;
  background-color: rgba(0, 0, 0, 0);
}

.settings:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
